<div class="navbar">
  <div class="d-flex">
    <div class="navbar__logo">
      <a routerLink="/">
        <img src="../../../assets/img/logo.PNG" alt="Logo Nav" />
      </a>
    </div>
    <app-select-company class="d-flex"></app-select-company>
  </div>
  <div class="d-flex">
    <div class="navbar__tutorial mr-2">
      <a routerLink="/tutorial" class="btn btn-primary px-2">Tutorial</a>
    </div>
    <a class="navbar__add d-flex" title="Add" routerLink="add">
      <img src="../../../assets/svg/plus-circle-solid.svg" alt="">
    </a>
    <app-logout class="d-flex"></app-logout>
  </div>
</div>
<div class="navbar__welcome">
  <div class="container">
    <app-welcome-message></app-welcome-message>
  </div>
</div>
