.navbar {
  background: white;

  &__logo {
    a {
      > img {
        width: 42px;
      }
    }
  }

  &__tutorial {
    a {
      background-color: #4dabf7;
      border-color: #4dabf7;
      font-size: 12px;
    }
  }

  &__welcome {
    background-color: white;
  }
}
