.tasks {
  &-header {
    &__title {
      color: white;
      margin-top: auto;
      margin-bottom: auto;
    }

    &__reload {
      margin-left: auto;
    }

    padding: 10px 15px;
    background-color: #4dabf7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
  }

  &-item {
    padding: 10px 15px;
    border: 1px solid lightgray;
    background-color: white;

    &__date {
      font-size: 12px;
      color: #8b8b8b;
    }

    &__title {
      font-size: 14px;
      font-weight: 500;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:first-child {
      border-top: none;
    }
  }
}
