<app-sync [isLoading]="isLoading" [lastSync]="lastSync"></app-sync>
<div class="tasks">
  <div class="container">
    <div *ngIf="isEmpty" class="alert alert-danger">No Tasks Found</div>
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>
    <div class="tasks-body">
      <div class="tasks-header d-flex">
        <div class="tasks-header__title">List of Activities</div>
        <a (click)="refreshList()" class="tasks-header__reload">
          <img src="../../../assets/svg/sync-alt-solid.svg" alt="" />
        </a>
      </div>
      <div #pullTasks id="pullTasks">
        <div @myInsertRemoveTrigger *ngIf="!isLoading" class="d-flex justify-content-center">
          <app-spinner></app-spinner>
        </div>
        <ul #list [@listAnimation] (swipedown)="swipeToRefresh($event)" @myInsertRemoveTrigger class="tasks-list">
          <li #item (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" @myInsertRemoveTrigger class="tasks-item d-flex show-delete_back" *ngFor="
              let task of tasks
                | paginate
                  : {
                      itemsPerPage: params.pageSize,
                      currentPage: params.pageNumber,
                      totalItems: params.totalPage
                    }
            ">
            <a routerLink="edit/{{ task.idTask }}">
              <img src="../../../assets/svg/edit.svg" alt="" />
            </a>
            <a class="ml-2" (click)="canBeDeleted(task.idTask, task.canBeDeleted)">
              <img *ngIf="task.canBeDeleted" src="../../../assets/svg/trash-solid.svg" alt="" />
              <img *ngIf="!task.canBeDeleted" src="../../../assets/svg/trash-solid-disable.svg" alt="" />
            </a>
            <span id="note" class="tasks-item__title ml-2">
              {{ task.note }}
            </span>
            <span class="tasks-item__date ml-auto">
              {{ task.reminderDate | date }}
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div @myInsertRemoveTrigger *ngIf="showPagination || isLoading" class="pagination-controls mt-4">
      <pagination-controls directionLinks="true" previousLabel="Prev" nextLabel="Next" maxSize="5"
        (pageChange)="handlePageChange($event)" (pageBoundsCorrection)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>
