.tasks {
  &-header {
    &__title {
      color: white;
      margin-top: auto;
      margin-bottom: auto;
    }

    &__reload {
      margin-left: auto;
    }

    padding: 10px 15px;
    background-color: #4dabf7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  &-item {
    padding: 10px 15px;
    border: 1px solid lightgray;
    background-color: white;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    &__date {
      font-size: 12px;
      color: #8b8b8b;
    }

    &__title {
      font-size: 14px;
      font-weight: 500;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:first-child {
      border-top: none;
    }
  }
}

.show-delete {
  left: -40px !important;
  .delete-button {
    visibility: visible;
    opacity: 1;
  }
}

.delete-button {
  position: absolute;
  right: -27px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 2s;
}

.show-delete_back {
  transition: 800ms;
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  position: relative;
  left: 0px;
}
