.login {
  &-logo {
    display: flex;
    padding: 60px 0;
    > img {
      margin: auto;
    }
  }

  &-form {
    margin: 0 15px;

    &__title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  &-input-field {
    margin: 15px 0;
    > input {
      width: 100%;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      background-color: #f9f9f9;

      &:focus {
        outline-color: #12b886;
      }
    }
  }

  &-remember-me {
    display: flex;
    > input {
      width: 20px;
      height: 20px;
      background-color: #f9f9f9;
      border: 1px solid lightgray;
    }

    &__label {
      margin-left: 5px;
      margin-bottom: 0;
      color: #aaaaaa;
      place-self: center;
    }
  }

  &-submit {
    margin-top: 60px;
    > button {
      width: 100%;
      padding: 15px;
      color: white;
      background-color: #12b886;
      border: 1px solid #12b886;
      border-radius: 5px;
      font-size: 22px;
      font-weight: 600;

      &:disabled {
        background-color: #69e0ba;
        border: 1px solid #69e0ba;
      }
    }
  }

  /* Styling Checkbox Starts */
  .checkbox-label {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
    margin: 0;
  }

  .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 1px solid lightgray;
  }

  .checkbox-label input:checked ~ .checkbox-custom {
    background-color: #f9f9f9;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #12b886;
  }

  .checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #12b886;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }

  .checkbox-label input:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #12b886;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
  }

  /* For Ripple Effect */
  .checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #12b886;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
}

.modal.fade.show {
  display: flex !important;
  .modal-dialog {
    width: 100%;
    place-self: center;
  }
}
