<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="imgForm" *ngIf="!isAddMode" class="add-edit imgForm">
          <div class="add-edit__body">
            <form class="img__form">
              <div class="form-group img__form-group">
                <fieldset class="form-group">
                  {{ imageError }}
                  <div class="custom-file fileInputProfileWrap">
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" />
                    <div class="img-space row m-auto">
                      <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" />
                      </ng-container>
                      <ng-template #elseTemplate>
                        <div class="col-6 mb-2 d-flex" *ngFor="let file of files">
                          <img [src]="file.allegato" class="img-responsive" />
                          <a class="img-responsive__delete" (click)="deleteImage(file.id)">
                            <img src="../../../assets/svg/times-circle-solid.svg" />
                          </a>
                        </div>
                        <div *ngIf="loading || !files" class="d-flex justify-content-center m-auto">
                          <div class="my-2">
                            <img src="../../../assets/svg/loader.svg" alt="" />
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </fieldset>
                <a class="img__form-remove" (click)="removeImage()" *ngIf="isImageSaved">
                  <img src="../../../assets/svg/times-circle-solid.svg" />
                </a>
              </div>
              <div *ngIf="isImageSaved && !isAddMode" class="pb-2">
                <a data-dismiss="modal" aria-label="Close" class="btn btn-success img__form-update"
                  (click)="addImage()">
                  Add Image
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
