<style>
  #li_privacy {
    display: none;
  }
</style>
<div class="privacyselect">
  <li id="first" class="wide">
    <div class="field">
      <div class="input-box">
        <input type="radio" id="gdpr_data_no" name="gdpr_data" class="input-radio validate-one-required-by-name"
          value="no" checked="" />
        Il messaggio non contiene dati particolari ex art. 9, par. 1, GDPR<br />
        <input type="radio" id="gdpr_data_si" name="gdpr_data" class="input-radio validate-one-required-by-name"
          value="si" />
        Il messaggio contiene dati particolari ex art. 9, par. 1, GDPR
      </div>
    </div>
  </li>
  <li id="li_privacy" class="wide">
    <div class="field">
      <div class="input-box">
        <input type="radio" name="privacy" id="privacy_on" class="required-entry" value="on2" />
        Presto il consenso al trattamento dei dati particolari, per le finalità
        di cui al par. 2B dell'<a target="_blank" href="/privacy">informativa</a>.<br />
        <input type="radio" name="privacy" id="privacy_off" value="yes2" /> Non
        presto il consenso al trattamento dei dati particolari, per le finalità
        di cui al par. 2B dell'<a target="_blank" href="/privacy">informativa</a>.
      </div>
    </div>
  </li>
  <li class="wide">
    <div class="field">
      <div class="input-box">
        <input type="radio" name="marketing" id="marketing" value="Sì" checked="" />
        Presto il consenso al trattamento a fini commerciali o di marketing, per
        le finalità di cui al par. 2C dell'<a target="_blank" href="/privacy">informativa</a>.<br />
        <input type="radio" name="marketing" id="marketing_off" value="No" />
        Non presto il consenso al trattamento a fini commerciali o di marketing,
        per le finalità di cui al par. 2C dell'<a target="_blank" href="/privacy">informativa</a>.
      </div>
    </div>
  </li>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
$(document).ready(function(){
    $('#first input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        console.log(inputValue);
        if(inputValue == "si"){
          $('#li_privacy').show();
        }else{
          $('#li_privacy input[type="radio"]').each(function(){
              $(this).prop('checked', false);
          });
          $('#li_privacy').hide();
        }
    });
});
</script>
</div>
